*{
  
}
.App1 {
  display: flex;
  justify-content: center;
  background-color: rgb(153, 141, 160);
}
.App2{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
#displayContainer{
  background-color: rgb(196, 231, 212);
  display: flex;
  justify-content: flex-start;
  width: 400px;
  
}
ol{
  background-color:rgb(196, 218, 207);
  width: 80%;   
}
#movies{
  background-color: rgb(196, 231, 212);
  display: flex;
  justify-content: center;
}

.scrollbutton{
  height: 100%;
  width: 100px;
  background-color: rgb(185, 192, 218);
}

.extraButtons{
  background-color:  rgb(185, 192, 218);
  border: 1px solid black;
}

.divButtons{
  display: flex;
  justify-content: space-evenly;
}